ion-button {
  background: rgb(179, 179, 245);
  color: black;
}

h1 {
  font-size: larger;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color:rgb(55, 100, 221);
}

.form-label {
  font-size: 18px;
  font-weight: bolder;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:rgb(37, 66, 145);
}