<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1>Task List</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngFor="let task of tasks">

    <ion-button slot="end" class="colors" fill="outline" [ngClass]="{
      'bg-low': task.priority_level === 'Low',
      'bg-medium': task.priority_level === 'Medium',
      'bg-high': task.priority_level === 'High',
      'bg-critical': task.priority_level === 'Critical'
    }">
      {{ task.title }}
    </ion-button>


    <ion-card>
      <ion-card-content>

        <ion-icon></ion-icon>
        <h2>{{ task.description }}</h2>
    
    
        <ion-icon></ion-icon>
        <h2>{{ task.category }}</h2>
       
    
        <ion-icon></ion-icon>
        <h2>{{ task.task_date | date }}</h2>
      
    
        <ion-icon></ion-icon>
        <h2>{{ task.priority_level }}</h2>
    
    
        <ion-icon></ion-icon>
        <h2>{{ task.progress_level }}</h2>
      
      </ion-card-content>

    
      <ion-button class="delete" fill="outline" (click)="deleteTask(task.id)">
        Delete
        <ion-icon slot="end" name="trash-outline"></ion-icon>
      </ion-button>


      <ion-button class="edit" fill="outline" [routerLink]="['/tabs/tab2', task.id]">
        Edit
        <ion-icon slot="end" name="create"></ion-icon>
      </ion-button>
    </ion-card>

  </div>

</ion-content>